gmc_training/Advanced Main training/109 - XML Data Input/data/XMLDataInput_InternalDataInput_SAPDataInput.dtd

<?xml version = "1.0" encoding="UTF-8"?>
<!ELEMENT Array-Records (Customer+)>
<!ELEMENT Customer (id,Records+)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT Records (company,date,destination,FlightID,Origin)>
<!ELEMENT company (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT destination (#PCDATA)>
<!ELEMENT FlightID (#PCDATA)>
<!ELEMENT Origin (#PCDATA)>
